<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <title>Node Express API</title>
</head>

<body>

  <div class="wrapper container-fluid">
    <header class="jumbotron text-center">
      <% include ../partials/navbar %>
      <h3>Contact</h3>
    </header>
    <main class="container">
      <p>You can reach me on <a href="https://www.linkedin.com/in/asabeneh/" class="link" target="_blank">LinkedIn</a></p>

    </main>
    <!-- footer -->

    <% include ../partials/footer %>


  </div>
</body>

</html>
